img {
	border: 0;
}
/*banner盒子*/
.box{
	height: 917px;
	position: relative;
}

/*banner*/
             .bander{
	          width: 100%;
	          height: 917px; 
	         }
	         
/*导航*/	         
	         .nav{
	         	height: 92px;
	         	width: 1920px;
	         	background: #FFF;
	         	position: absolute;top:0; left:50%;
	         	margin-left: -960px;
	         	z-index: 99;
	         	opacity: 0.9;
	         }
	         
	         
	         
	         .nav-a{
	         	width: 1200px;
	         	height: 92px;
	         	margin: 0 auto;
	         	background: url(../img/logo.png) no-repeat;
	         }
	         
	         
	         .nav-a ul{
	         	width: 679px;
	         	height: 92px;
	         	float: right;
	         	background: red;
	         	background: #FFF;
	         	opacity: 0.9;
	         }
	         
/*导航文字*//*导航文字*//*导航文字*/	         
	         .nav-a ul li{
	         	width: 97px;
	         	height: 92px;
	         	line-height: 92px;
	         	text-align: center;
	         	font-size: 14px;
	         	font-family: "微软雅黑";
	         	float: left;
	         	color: #000;
	         }
	         
/*首页固定*/	/*首页固定*/	/*首页固定*/	         
	         .gd{
	         	background: url(../img/shubiao.png);
	         	z-index: -1;
	         }
	         
/*导航鼠标经过效果*/	   /*导航鼠标经过效果*/      
	         .nav-a ul li:hover{
	         	background: url(../img/shubiao.png);
	         	z-index: -1;
	         	margin-top: -10px;
	         }
	         
	         
	         
	         

.ck-slide ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


.ck-slide {
	position: relative;
	overflow: hidden;
	width: 1920px; height: 917px;
	position: absolute;top:0; left:50%;
	margin-left: -960px;
}



.ck-slide ul.ck-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
	padding: 0;
	height: 400px;
}



.ck-slide ul.ck-slide-wrapper li {
	position: absolute; margin-top:0px;
}


.ck-slide ul.ck-slide-wrapper li a{
	/*a标签是行内元素，宽高对a标签不起作用，这里必须添加line-height:0px;display:black，否则垂直滚动<li>之间会出现间隔*/
	line-height:0px;
	display:block;
	height: 320px;
}


.ck-slide .ck-prev, .ck-slide .ck-next {
	position: absolute;
	top: 50%;
	z-index: 2;
	width: 35px;
	height: 70px;
	margin-top: -35px;
	border-radius: 3px;
	opacity: .15;
	background: red;
	text-indent: -9999px;
	background-repeat: no-repeat;
	transition: opacity .2s linear 0s;
}
.ck-slide .ck-prev {
	left: 150px;
	background: url(../img/arrow-left.png) #000 50% no-repeat;
}
.ck-slide .ck-next {
	right: 150px;
	background: url(../img/arrow-right.png) #000 50% no-repeat;
}
.ck-slidebox {
	position: absolute;
	left: 50%;
	bottom: 12px;
	z-index: 30;
}
.ck-slidebox ul {
	height: 20px;
	padding: 0 4px;
	border-radius: 8px;
	background: rgba(0,0,0,0.5);
}
.ck-slidebox ul li {
	float: left;
	height: 12px;
	margin: 4px 4px;
}
.ck-slidebox ul li em {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 100%;
	background-color: #fff;
	text-indent: -9999px;
	cursor: pointer;
}
.ck-slidebox ul li.current em {
	background-color: #fe6500;
}
.ck-slidebox ul li em:hover {
	background-color: #fe6500;
}


#pic{
	position: absolute;top:0; left:50%;
	margin-left: -960px;
}
